.navbar{
position:sticky;
z-index: 1;
top: 0;
display: flex;
justify-content:center;
align-items:center;
background-color:black;
color:white;
box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);

}
.navbar__left{
flex: 2;
display: flex;
justify-content:flex-start;
align-items:center;
margin-left: 1rem;
}
.navbar__left > h1{
box-shadow: 0 5px 10px 2px rgba(224, 18, 214, 0.808);
border-radius: 1rem;
padding:.5rem;
margin: .5rem;
background-color:rgb(67, 88, 86);

}
.navbar__right{
flex: 7;
display: flex;
justify-content:flex-end;
align-items:center;

}
.navbar__right> ul{
list-style: none;
display: flex;
justify-content:center;
align-items:center;
}
li{
margin: .5rem;
}
.header__links{
color: whitesmoke;
display: flex;
}
.header__links:hover{
color: lightgrey;


}
.cart__information{
flex: .1;
display: flex;
justify-content:center;
align-items:center;
margin-right: 1rem;

}
.cart__information > span{
color:rgba(20, 10, 1, 0.808);
font-size:x-large;
border-radius: .3rem;
/* border: .1rem dashed gray; */
margin-right: .3rem;
box-shadow: 0 5px 10px 2px rgba(224, 18, 214, 0.808);
background-color:rgb(24, 233, 212);
text-align: center;
padding: .1rem ;

}
@media screen and (max-width: 600px) {
 
.navbar{
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
}
.navbar__right > ul {
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;

}
.cart__information {
margin-bottom: 1rem;
}
}